.admin {
  &__invite {
    margin: 30px 0;
    border: 1px solid pink;
  }
  &__campaigns {
    margin-bottom: 30px;
    border: 1px solid pink;
  }
  &__download {
    margin-bottom: 30px;
    border: 1px solid pink;
  }
}
