.home {
  min-height: 100%;
  width: 100%;
  max-width: 90vw;
  padding: 0;
  margin: 5vh auto 0 auto;
  flex-direction: column;
  display: flex;
  text-align: left;
  #fileButton {
    opacity: 0;
  }
  .uploadBtn {
    background-color: rgb(0, 228, 114);
    color: "#fff";
  }
  &__error {
    color: red;
  }
  .file-tag {
    margin-bottom: 1vh;
  }
}
